.home-form-wrapper {
    padding: 10px;
    background-image: linear-gradient(#007CC7, #9cc6dd);
    margin: 0px 16px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.home-form {
    border-radius: 10px;
    width: 550px;
    padding: 10px;
    background-color: #ffffff;
}

.upper-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 35px 5px;
}

.field {
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCD9F9;
    border-radius: 5px;
    padding: 3px;
}

.single-lady-home-form-field {
    background-color: #ffffff;
}

.field label {
    margin-right: 15px;
}

.field input {
    padding: 5px;
    border-radius: 4px;
    border: none;
    height: 30px;
    background-color: #CCD9F9;
}

.booking_buttons {
    margin: 5px 10px;
}

.input-buttons {
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-search-button {
    padding: 5px;
    background-image: linear-gradient(#007CC7, #9cc6dd);
    color: #ffffff;
    font-weight: bold;
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 5px auto;
    box-shadow: 2px 4px 4px #888888;
}

.home-search-button:hover {
    cursor: pointer;
}

.return-date-field {
    position: relative;
}

.asterisk-alert {
    position: absolute;
    top: 33px;
    right: 0px;
    font-size: 12px;
}

.home-form-popup-container {
    position: relative;
}

.home-form-popup {
    display: none;
    padding: 5px;
    background-color: #EEFBFB;
    border-radius: 4px;
    width: 10rem;
    position: absolute;
    z-index: 100;
}

.home-form-popup::after {
    content: " ";
    position: absolute;
    left: 10px;
    top: -7px;
    border-top: none;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #EEFBFB;
}

.home-form-icon {
    width: 30px;
    height: 30px;
}

.home-form-icon:hover {
    cursor: pointer;
}

.home-form-popup-container:hover .home-form-popup{
    display: block; 
}

.home-form-popup p{
    margin: 5px;
}

.home-form-error-message {
    display: block;
    position: absolute;
    border-radius: 4px;
    width: 12rem;
    background-color: rgb(241, 204, 200);
    z-index: 100;
}

.home-form-error-message::after {
    content: " ";
    position: absolute;
    left: 10px;
    top: -7px;
    border-top: none;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid rgb(241, 204, 200);
}

.home-form-error-message p {
    margin: 5px;
}

.disabled-home-form-search {
    padding: 5px;
    /* background-image: linear-gradient(#007CC7, #9cc6dd); */
    background-color: #acacac;
    color: #333333;
    font-weight: bold;
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 5px auto;
}
