.slider {
    width: 100%;
}

.slider-img {
    display: block;
    width: calc(100% - 200px);
    height: 450px;
    margin: 0 auto;
    text-align: center;
}

.slider-arrow{
    width: 80px;
    height: 80px;
}

.slider-arrow:hover {
    cursor: pointer;
}

.slider-arrows {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    position: relative;
    top: -275px;
}

.indicator-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin: 0px auto;
    position: relative;
    top: -35px;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: #acacac solid;
}

.indicator-on {
    background-color: #acacac;
}

.indicator:hover {
    cursor: pointer;
}