.navbar, .navlink-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#007CC7, #9cc6dd );
}

.navbar {
    background-color: #acacac;
}

.navlink-container img {
    background-image: linear-gradient(#007CC7, #9cc6dd );
}

.navbar ul{
    display: inline;
    list-style: none;
    margin: 0!important;
    padding: 0;
    height: 100%;
}

.navbar ul li, .lang-option {
    display: inline-block;
    padding: 5px;
    font-weight: 450;
    font-size: 26px;
    height: 100%;
}

.navlink, .lang-option {
    padding: 15px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.navlink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333333;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active-navlink {
    color: #E63946;
    border-bottom: 2px solid tomato;
}

.active-navlink::after {
    content: '';
    width: 90%;
    height: 0px;
    background-color: tomato;
}