body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #333333
}

body {
    background-color: #EEFBFB;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}