.contact-details-wrapper {
    display: flex;
    flex-direction: column;
    
    width: 70%;
    
    margin: 30px auto;
}

.contact-details h2 {
    margin-left: 35px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.contact-form-wrapper-wrapper {
    padding: 5px;
    background-image: linear-gradient(#007CC7, #9cc6dd);
}

.contact-form-wrapper {
    background-color: #F1F4F8;
    padding: 20px;
    border-radius: 4px;
}

.contact-form-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 62px;
    background-color: #CCD9F9;
    width: 300px;
    border-radius: 4px;
}

.contact-form-icon {
    margin-right: 10px;
}

.contact-form-input {
    border: none;
    background-color: #CCD9F9;
    width: 280px;
    border-radius: 4px;
    padding: 5px;
}

.contact-button {
    width: 160px;
    background-image: linear-gradient(#007CC7, #9cc6dd);
    border: none;
    border-radius: 10px;
    height: 50px;
    margin: 25px auto;
}

.contact-button:hover {
    cursor: pointer;
}