.personal-details-page-container {
    padding: 5px;
    
}

.personal-info-wrapper {
    display: flex;
    flex-direction: column;
}

.personal-info-det {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.passenger-info-box-wrapper {
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(#007CC7, #9cc6dd);
}

.passenger-info-box {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #F1F4F8;
    width: 100%;
}

.passenger-info-box h4 {
    margin: 10px;
}

.passenger h4 {
    margin-left: 50px;
}

.div-line-info {
    width: 90%;
    height: 2px;
    background-color: #ececec;
    margin: 10px auto;
}

.passenger-info-box-hor-wrapper {
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(#007CC7, #9cc6dd);
}

.passenger-info-box-hor {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #F1F4F8;
    border-radius: 4px;
}

.payment-option-list {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #ececec;
    padding: 10px 10px;
}

.payment-option-list li {
    display: inline;
    text-align: left;
    padding: 5px;
    height: 35px;
    background-color: #ececec;
}

.payment-option-list li:hover {
    background-color: #acacac;
    cursor: pointer;
}

.payment-info-box-pay {
    background-color: #ececec;
}

.no-cent {
    text-align: unset;
}

.personal-container-1{
}