.personal-details-page {
    display: flex;
    flex-direction: column;
}

.personal-details-page-container {
    display: flex;
}

.personal-container-1 {
    width: 71%;
    margin: 30px auto;
    text-align: center;
}

.personal-container-2 {
    flex: 1;
    margin: 30px 0px;
}

.personal-info-list {
    margin: 0 auto;
}

.personal-contact-list {
    margin: 0 auto;
}